$color-primary: #94c12b;
$color-primary-light: #afd441;
// $color-primary-dark: #540000;

$color-secondary-light: #2c474c;
$color-secondary-dark: #2c2c2c;

$color-tertiary-light: #ca5195;
$color-tertiary-dark: #440026;

$color-aux-1: #b2162d;
$color-aux-2: #007554;

$color-grey-light-1: #edeff0;
$color-grey-light-2: #f7f7f7;

$color-grey-dark: #8b8b8b;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #edeff0;
$color-black: #151515;

$color-text-light: #93c12b;
$color-text-dark: #1f1f1f;

$box-shadow: 0 1.5em 4rem rgba($color-black, $alpha: 0.15);
$box-shadow-2: 0 0.5rem 1rem rgba($color-black, 0.2);
$box-shadow-3: 0 1rem 2rem rgba($color-black, 0.2);

//Font
$default-font-size: 1.6rem;
