body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: $color-grey-dark;
}

.heading-primary {
  font-size: 4.3rem;
  color: $color-black;

  backface-visibility: hidden;

  animation: moveInLeft 0.8s ease-in-out;
  @include respond(phone) {
    letter-spacing: 0.5rem;
  }

  &-1 {
    text-transform: uppercase;
  }

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    color: $color-primary;

    animation: moveInLeft 0.8s ease-in-out;

    @include respond(phone) {
      letter-spacing: 1rem;
      font-family: 5rem;
    }
    /* animation-delay: 3s; */
  }

  &--sub {
    font-family: "Myriad Pro Semibold" sans-serif;
    display: block;
    font-size: 3.2rem;
    // font-weight: 700;
    color: $color-white;
    animation: moveInRight 0.8s ease-in-out;
    transform: scale(0.8, 0.6);
    @include respond(phone) {
      letter-spacing: 0.5rem;
    }
  }
}

.heading-secondary {
  font-size: 2.5rem;

  // text-transform: uppercase;
  font-weight: 700;
  // background-image: linear-gradient(
  //   to right,
  //   $color-primary-light,
  //   $color-secondary-dark
  // );
  display: inline-block;
  -webkit-background-clip: text;
  // background-clip: text;
  color: $color-black;
  letter-spacing: 0.2rem;

  transition: all 0.3s;

  @include respond(tab-port) {
    font-size: 3rem;
  }

  @include respond(phone) {
    font-size: 2.5rem;
  }

  &:hover {
    transform: skewY(0.5deg) skewX(3deg) scale(1.05);
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
  }
}

.heading-tertiary {
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: capitalize;
  color: $color-black;
}

.paragraph {
  font-size: $default-font-size;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}

.cta__text--green {
  color: $color-primary;
  text-decoration: none;
  text-transform: uppercase;
}

.primary-text {
  color: $color-primary;
  text-decoration: none;
}

.bold-text {
  font-weight: 700;
  font-size: 2rem;
  color: $color-black;
}

.black-text {
  color: $color-black;
}
