.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 70vw;
  max-height: 10rem;
}

.banner__item {
  padding: 0 1rem;
  flex: 2 4 15rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &:nth-child(5) {
    height: 80%;
  }

  @include respond(phone) {
    padding: 0;
  }

  &--hydration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
    color: $color-white;
    letter-spacing: 3px;
  }

  &--stars {
    display: flex;
    justify-content: space-between;
    align-content: center;
    & > img {
      height: 1.4rem;
    }

    @include respond(tab-port) {
      display: none;
    }
  }

  &--main {
    // flex: 4 1 auto;
    flex-direction: column;
    @include respond(phone) {
      display: none;
    }
  }
}

.hydration--sales {
  text-align: center;
  font-family: "Baskerville Regular";
  margin: 0.8rem 0 0 1.5rem;
}
.hydration {
  text-align: center;
  font-family: "brilliantte_presonal_use_onRg";
  margin-bottom: -3rem;
}

.discount25 {
  text-align: center;
}

.hydroxinol {
  text-align: center;
  margin-top: -4.5rem;
  font-size: 5rem;
  font-weight: 400;
}

.timer {
  background-color: $color-white;
  height: 90%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-secondary-light;
  clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);

  &__wrapper {
    position: relative;
    padding: 2rem;
  }

  &__ends-in {
    background: $color-white;
    position: absolute;
    bottom: 5.3rem;
    min-width: 5rem;
    left: calc(50% - 3.5rem);
    padding: 0 5px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5rem;

    @include respond(phone) {
      bottom: 4.9rem;
    }
  }

  &__time {
    border: solid 3px $color-primary;
    padding: 0.5rem;
    min-width: 13rem;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
  }

  &__dhms {
    background: $color-white;
    position: absolute;
    top: 5.1rem;
    left: calc(50% - 5rem);
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    min-width: 10rem;
    padding: 0 0.5rem;
    font-weight: 700;
  }
}
.letter {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  text-transform: uppercase;
  font-weight: 700;
}
