.header {
  padding: 3rem 0 0 0;
  max-width: 60vw;
  margin: 0 auto;

  &__nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
  }

  &__heading {
    color: $color-primary;

    @include respond(tab-land) {
      font-size: 3rem;
      margin: 1rem 0;
    }
  }

  &__subheading {
    margin: -1.5rem 0 2rem 0;
    text-transform: uppercase;
    @include respond(tab-land) {
      font-size: 1.8rem;
    }
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__text {
    color: $color-secondary-light;
    font-size: 2rem;
  }
}

.subheader-img {
  margin: 1rem;
}
