/*
  
  0 - 600px --> Phone
  
  600 - 900px --> tablet portrait
  
  900 - 1200px --> tablet landscape
  
  1200 - 1800 normal styles
  
  1800px --> Large Desktop
  
  breakpoint argument choices:
  - phone 
  - tab-port
  - tab-land 
  -big-desktop
  
  ORDER: Base + typography > general layout + grid > page layout > components
  
  1em = 16px;
  */
*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

::selection {
  background-color: #94c12b;
  color: #edeff0; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.hr {
  width: 80%;
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc); }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #8b8b8b; }

.heading-primary {
  color: #edeff0;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 60px; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: moveInLeft 1s ease-in-out;
    /* animation-delay: 3s; */ }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 1rem;
        font-family: 5rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-in-out; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: 0.5rem; } }

.heading-secondary {
  font-size: 2.5rem;
  font-weight: 700;
  display: inline-block;
  -webkit-background-clip: text;
  color: #94c12b;
  letter-spacing: 0.2rem;
  transition: all 0.3s; }
  @media only screen and (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }
  .heading-secondary:hover {
    transform: skewY(0.5deg) skewX(3deg) scale(1.05);
    text-shadow: 0.5rem 1rem 2rem rgba(21, 21, 21, 0.2); }

.heading-tertiary {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #2c474c; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.cta__text--green {
  color: #94c12b;
  text-decoration: none;
  text-transform: uppercase; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-0.3px);
  box-shadow: 0 1rem 2rem rgba(21, 21, 21, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(21, 21, 21, 0.2); }

.btn--white {
  background-color: #edeff0;
  color: #8b8b8b; }
  .btn--white::after {
    background-color: #edeff0; }

.btn--green {
  background-color: #94c12b;
  color: #edeff0; }
  .btn--green::after {
    background-color: #94c12b; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #94c12b;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #94c12b;
  padding: 3px;
  transition: all 0.2s; }

.btn-text:hover {
  background-color: #94c12b;
  color: #edeff0;
  box-shadow: 0 1rem 2rem rgba(21, 21, 21, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(21, 21, 21, 0.15);
  transform: translateY(0px); }

.disabled {
  background-color: #8b8b8b;
  box-shadow: none; }

.card-row {
  width: 95vw;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.card-col {
  width: 30%; }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem; }
  .card__side {
    height: 52rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 0.3rem;
    overflow: hidden;
    box-shadow: 0 1.5em 4rem rgba(21, 21, 21, 0.15); }
    .card__side--front {
      background-color: #edeff0; }
    .card__side--back {
      background-color: #edeff0;
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #2c474c, #2c2c2c); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #afd441, #2c2c2c); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #ca5195, #440026); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem; }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #2c474c, #2c2c2c), url(../img/nat-5.jpg); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #afd441, #2c2c2c), url(../img/nat-6.jpg); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #ca5195, #440026), url(../img/nat-7.jpg); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #edeff0;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 70%; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(44, 71, 76, 0.85), rgba(44, 44, 44, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(175, 212, 65, 0.85), rgba(44, 44, 44, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(202, 81, 149, 0.85), rgba(68, 0, 38, 0.85)); }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 0.01rem solid #f7f7f7; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__price-box {
    text-align: center;
    margin-bottom: 8rem;
    color: #edeff0; }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }

.banner {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
  min-width: 70vw; }

.banner__item {
  padding: 0 1rem;
  flex: 2 4 15rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  .banner__item:nth-child(5) {
    height: 80%; }
  .banner__item--main {
    flex: 4 1 auto;
    min-width: 17rem; }

.hydration {
  text-align: center; }

.hydration--sales {
  text-align: center; }

.discount25 {
  text-align: center; }

.timer {
  background-color: #edeff0;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2c474c;
  clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%); }
  .timer__wrapper {
    position: relative;
    padding: 2rem; }
  .timer__ends-in {
    background: #edeff0;
    position: absolute;
    bottom: 5.3rem;
    min-width: 5rem;
    left: calc(50% - 2.5rem);
    padding: 0 5px;
    text-transform: uppercase; }
  .timer__time {
    border: solid 3px #94c12b;
    padding: 0.5rem;
    min-width: 13rem;
    text-align: center;
    font-size: 1.6rem; }
  .timer__dhms {
    background: #edeff0;
    position: absolute;
    top: 5.1rem;
    left: calc(50% - 6rem);
    display: flex;
    justify-content: space-around;
    font-size: 10px;
    min-width: 12rem; }

.letter {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  text-transform: uppercase; }

.header {
  padding: 3rem;
  max-width: 60vw;
  margin: 0 auto; }

.header__nav {
  display: flex;
  justify-content: center;
  align-items: center; }

.header__article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 0; }

.header__subheading {
  margin-bottom: 0.5rem; }

.header__content {
  display: flex;
  justify-content: center;
  align-items: center; }

.header__text {
  color: #2c474c;
  font-size: 2rem; }

.subheader-img {
  margin: 1rem; }

.nav__item {
  min-width: 31.5rem;
  position: relative;
  background-color: #edeff0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 5rem;
  margin-left: -4rem;
  z-index: 3;
  border-radius: 3px;
  clip-path: polygon(0% 0%, 90% 0, 100% 50%, 90% 100%, 0% 100%); }
  .nav__item:nth-child(2) {
    min-width: 31.5rem;
    background-color: #2c474c;
    z-index: 2; }
  .nav__item:nth-child(3) {
    min-width: 33.5rem;
    background-color: #94c12b;
    z-index: 1;
    clip-path: none; }

.nav__img {
  width: 3rem;
  background-color: black; }

.nav__text {
  color: #edeff0; }
  .nav__text:nth-child(1) {
    color: #2c474c; }
  .nav__text:nth-child(3) {
    color: #edeff0; }

main {
  padding: 0;
  margin: 0; }

.section-banner {
  background-color: #94c12b;
  min-height: 8rem;
  display: flex;
  justify-content: center;
  width: 100vw; }

.section-header {
  width: 100vw; }
